body {
  background-color: #eee;
}

.navbar {
  width: 100%;
  opacity: 0.5;
  position: fixed;
  z-index: 1;
}


.jumbotron {
  position: relative;
  z-index: 0;
  text-align: center;
  padding-top: 25%;
  margin-bottom: 200px;
  color: #fff;
  font-family: 'Poiret One', cursive;
  background: transparent;
}

.container.banner {
  margin-bottom: 100px;
}


img {
  position: absolute;
  width: 100%;
  height: 700px;
  object-fit: cover;
  z-index: -1;
}

.intro {
  text-align: center;
  margin: 30px 0;
}

.intro h2{
    font-family: 'Poiret One', cursive;
}

.card {
  background: white;
  z-index: 0;
  margin: 15px 0;
}

.card-img-top {
  height: 350px;
  position: relative;
  z-index: 1;
}

.container {
  margin-bottom: 150px;
}


/* About Page CSS */
img.profile {
  padding-left: 0;
  height: 250px;
  z-index: 1;
  object-fit: cover;
}

.row.profile {
  background-color: #fff;
  z-index: 0;
  margin-bottom: 50px;
}

.about {
  margin-top: 20px;
}

h5.random {
  font-family: 'Poiret One', cursive;
  font-style: italic;
  color: #d37210;
}

img.love {
  position: relative;
}

blockquote {
  margin: 40px 0;
  float: right;
}
